/*
Paleta de cores

#6B6265
#7A8897
#FE9A27

*/

aside {
    width: 320px;
    height: 70%;
    margin-bottom: 30px;
    background: #6B6265;
    box-shadow: 0px 0px 14px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px ;
    padding: 0px;
    position: fixed;
}

@media (max-width: 550px) {
    aside {
        position: relative;
    }
} 

aside strong {
    font-family: "Teko", serif;
    font-weight: 400;
    font-size: 40px;
    padding: 7px 20px;
    text-align: center;
    display: block;
    color: #FE9A27;
}

aside form {
    margin-top: 0px;
    padding: 0px 20px;
}

aside form .input-block {
    margin-top: 20px;
}

aside form .input-block label {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

aside form .input-block input {
    width: 100%;
    height: 32px;
    font-size: 14px;
    color: #fff;
    border: 0;
    border-bottom: 1px solid #eee;
    background: #6B6265;
}

aside form .input-block textarea {
    margin-top: 7px;
    width: 100%;
    height: 100px;
    font-size: 14px;
    color: #fff;
    border: 0;
    border-bottom: 1px solid #eee;
    background: #6B6265;
    resize: none;
}

aside form button[type=submit] {
    width: 100%;
    border: 0;
    margin-top: 30px;
    background: #02495981;
    color: #fff;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

aside img {
    width: 100%;
    padding: 0px;
    border-radius: 10px;
}